@purple-gray: #9684a1; //rgba(150, 132, 161, 100)

html body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Roboto";
}

#message-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 400px;

    #message-status {
        font-size: 38px;
    }

    #message-pizza {
        display: inline-block;
        font-size: 28px;
        margin: 75px auto 0px;
        padding: 20px;
        border-radius: 10px;
        background-color: @purple-gray;

        &:hover {
            cursor: pointer;
            background-color: lighten(@purple-gray, 10%);
        }
    }
}