@space-blue: #696e96; //rgba(105, 110, 150, 100)
@space-purple-gray: #9684a1; //rgba(150, 132, 161, 100)
@space-brown: #725752; //rgba(114, 87, 82, 100)
@space-purple: #935393; //rgba(147, 83, 147, 100)
@space-pink: #b392ac; //rgba(179, 146, 172, 100)

html body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
}

#background-image-glass {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background: linear-gradient(
        45deg, 
        rgba(105, 110, 150, 0.6), 
        rgba(147, 83, 147, 0.2));
    z-index: 200;
}

#background-image-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
}

#earth-image {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("images/earth-layer.jpg") no-repeat bottom fixed;
    background-size: cover;
}

#mountains-image {
    position: absolute;
    bottom: -180px;
    width: 150%;
    height: 150%;
    background: url("images/mountains.png") no-repeat fixed;
    background-position-y: 80%;
    background-position-x: 50%;
    background-size: 125% auto;


}

.earthquake {
    animation: shake-hard 2s infinite linear;
}
@keyframes shake-hard {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    transform: translate(0px, 4px) rotate(0.5deg);
  }
  4% {
    transform: translate(6px, -2px) rotate(-3.5deg);
  }
  6% {
    transform: translate(-3px, -8px) rotate(-2.5deg);
  }
  8% {
    transform: translate(-1px, 9px) rotate(2.5deg);
  }
  10% {
    transform: translate(6px, 5px) rotate(-2.5deg);
  }
  12% {
    transform: translate(-3px, 6px) rotate(-2.5deg);
  }
  14% {
    transform: translate(-9px, 1px) rotate(-0.5deg);
  }
  16% {
    transform: translate(-6px, 5px) rotate(2.5deg);
  }
  18% {
    transform: translate(-9px, 8px) rotate(0.5deg);
  }
  20% {
    transform: translate(-9px, 6px) rotate(-2.5deg);
  }
  22% {
    transform: translate(-5px, 6px) rotate(0.5deg);
  }
  24% {
    transform: translate(6px, 3px) rotate(1.5deg);
  }
  26% {
    transform: translate(8px, -10px) rotate(-2.5deg);
  }
  28% {
    transform: translate(0px, -5px) rotate(-3.5deg);
  }
  30% {
    transform: translate(6px, -10px) rotate(2.5deg);
  }
  32% {
    transform: translate(3px, 0px) rotate(-3.5deg);
  }
  34% {
    transform: translate(4px, -6px) rotate(-3.5deg);
  }
  36% {
    transform: translate(-5px, 4px) rotate(-0.5deg);
  }
  38% {
    transform: translate(-7px, -6px) rotate(-1.5deg);
  }
  40% {
    transform: translate(4px, -9px) rotate(-3.5deg);
  }
  42% {
    transform: translate(-9px, -2px) rotate(-1.5deg);
  }
  44% {
    transform: translate(0px, -3px) rotate(1.5deg);
  }
  46% {
    transform: translate(-5px, -5px) rotate(-2.5deg);
  }
  48% {
    transform: translate(-6px, 2px) rotate(-3.5deg);
  }
  50% {
    transform: translate(0px, -5px) rotate(-1.5deg);
  }
  52% {
    transform: translate(6px, 1px) rotate(-2.5deg);
  }
  54% {
    transform: translate(9px, 6px) rotate(2.5deg);
  }
  56% {
    transform: translate(-8px, -10px) rotate(-0.5deg);
  }
  58% {
    transform: translate(6px, -2px) rotate(-1.5deg);
  }
  60% {
    transform: translate(-4px, -8px) rotate(-1.5deg);
  }
  62% {
    transform: translate(0px, -9px) rotate(0.5deg);
  }
  64% {
    transform: translate(-7px, -6px) rotate(2.5deg);
  }
  66% {
    transform: translate(8px, 6px) rotate(2.5deg);
  }
  68% {
    transform: translate(-10px, -7px) rotate(-2.5deg);
  }
  70% {
    transform: translate(-1px, 9px) rotate(-2.5deg);
  }
  72% {
    transform: translate(-6px, 8px) rotate(-2.5deg);
  }
  74% {
    transform: translate(2px, 5px) rotate(-1.5deg);
  }
  76% {
    transform: translate(-7px, 6px) rotate(1.5deg);
  }
  78% {
    transform: translate(3px, -9px) rotate(0.5deg);
  }
  80% {
    transform: translate(-4px, -9px) rotate(-1.5deg);
  }
  82% {
    transform: translate(0px, 7px) rotate(0.5deg);
  }
  84% {
    transform: translate(-4px, -3px) rotate(-1.5deg);
  }
  86% {
    transform: translate(-10px, 8px) rotate(-0.5deg);
  }
  88% {
    transform: translate(-9px, 1px) rotate(-0.5deg);
  }
  90% {
    transform: translate(-3px, 6px) rotate(1.5deg);
  }
  92% {
    transform: translate(-8px, -10px) rotate(-3.5deg);
  }
  94% {
    transform: translate(-8px, -7px) rotate(2.5deg);
  }
  96% {
    transform: translate(-2px, 1px) rotate(2.5deg);
  }
  98% {
    transform: translate(-3px, 4px) rotate(-2.5deg);
  }
}

.pizza-cannon-loaded {
    position: absolute;
    top: 50%;
    left: -120px;
    width: 120px;
    height: 120px;

}

.rolling-pie {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25%;
    transform: translateX(50%);
    width: 120px;
    height: 120px;
    margin: auto;
    animation: roll 5s infinite ease;
}

.rolling-pie-spin {
    animation: spin-roll 5s infinite ease;
}

.pizza-cannon-prepped {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25%;
    transform: translateX(50%);
    width: 120px;
    height: 120px;
    margin: auto;
    animation: pizza-prepped 10s linear;

    .spinning-pie-cannon-prepped {
        animation: spin-prepped 10s linear;
    }
}

.pizza-cannon-fired {
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translateX(50%);
    width: 120px;
    height: 120px;
    animation: pizza-cannon 10s cubic-bezier(0,.7,.7,1.15);

    .spinning-pie-cannon {
        animation: spin-cannon 10s ease-in;
    }
}

#pizza {
    width: 100%;
    height: 100%;
    background: url("images/pizza.png") no-repeat;
    background-size: cover;
}

.spinning-pie {
    animation: spin 5s infinite linear;
}

@keyframes pizza-cannon {
    0% {
        left: -20%;
        transform: translateX(50%);
    }
    60% {
        top: 10%;
        left: 50%;
        width: 60px;
        height: 60px;
    }
    100% {
        top: 25%;
        left: 66%;
        width: 0px;
        height: 0px;
    }
}

@keyframes pizza-prepped {
    50% {
        right: 25%;
        transform: translateX(50%);
    }
    80% {
        right: 25%;
        transform: translateX(50%);
    }
    90% {
        right: 120%;
        transform: translateX(50%);
    }
}

@keyframes spin-prepped {
    50%{
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(-270deg);
    }
}

@keyframes spin-roll {
    50% {
        transform: rotate(-720deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes roll {
    0% {
        right: 25%;
        transform: translateX(50%);
    }
    50% {
        right: 75%;
        transform: translateX(50%);
    }
    100% {
        right: 25%;
        transform: translateX(50%);
    }
}

@keyframes spin-cannon {
    0%   { transform: rotate(   0deg); }
    80%  { transform: rotate(4000); }
    100% { transform: rotate(10000deg); }
}

#message-background {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    height: 240px;
    margin: auto 325px;
    padding: 35px;
    background-color: @space-purple-gray;
    opacity: 0.9;
    border-radius: 10px;
    z-index: 300;

    @media (max-width: 1200px) {
        margin: auto 150px;
    }

    @media (max-width: 800px) {
        height: 300px
    }
}

#message-wrapper {
    font-family: "Roboto";
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top:0px;
    height: 240px;
    margin: auto 325px;
    text-align: center;
    padding: 35px;
    box-shadow: 4px 2px 4px black;
    z-index: 400;
    cursor: default;

    @media (max-width: 1200px) {
        margin: auto 150px;
    }

    @media (max-width: 800px) {
        height: 300px
    }

    #ready-for-pizza {
        font-size: 38px;
    }

    #phone-number-input {
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 40px;
        border-radius: 20px;
        font-size: 30px;
        padding: 5px;
        cursor: text;

    @media (max-width: 750px) {
        font-size: 20px
    }

        &:focus {
            outline: none;
        }
    }

    #loading-pizza {
        width: 120px;
        height: 120px;
        background: url("images/pizza.png") no-repeat;
        background-size: 120px;
        margin: 20px auto 0px;
    }

    #message-status {
        font-size: 38px;
        margin-top: 30px;
        line-height: 60px;

        @media (max-width: 750px) {
            font-size: 28px
        }
    }

    #message-jingle {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 35px;
        font-style: italic;
        font-size: 20px;

        @media (max-width: 750px) {
            font-size: 14px
        }
    }

    .pizza-button {
        display: inline-block;
        font-size: 28px;
        margin: 40px auto 0px;
        padding: 20px;
        border-radius: 10px;
        background-color: @space-purple;
        box-shadow: 4px 2px 4px black;
        cursor: pointer;

        @media (max-width: 750px) {
            font-size: 18px
        }

        &:hover {
            cursor: pointer;
            background-color: lighten(@space-purple, 10%);
            opacity: 1;
        }
    }
}